@import './content';

.footer{
    margin: 1rem 0 2rem 0; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &_icon{
        width: 16rem;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    &_link{
        @include font-color(#000000);
    }

    

    @media screen and (min-width: 768px){
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}